@model PMS.Models.MaterialModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MaterialModels</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.gc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gc)
            @Html.ValidationMessageFor(model => model.gc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user)
            @Html.ValidationMessageFor(model => model.user)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.time)
            @Html.ValidationMessageFor(model => model.time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.done)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.done)
            @Html.ValidationMessageFor(model => model.done)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cost)
            @Html.ValidationMessageFor(model => model.cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.partner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.partner)
            @Html.ValidationMessageFor(model => model.partner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.agreed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.agreed)
            @Html.ValidationMessageFor(model => model.agreed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.president)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.president)
            @Html.ValidationMessageFor(model => model.president)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
